body {
    background: #006445;
}
.Barlow{
    font-family: 'Barlow', sans-serif;
}
#navbar{
    display: flex;
    justify-content: left;
    width: auto;
    margin-top: -8px;
}
.link{
    margin-right: auto;
}
.tcrlogo{
    background: white;
}
a{
    color: white;
}
a:hover{
    color: #dbff4a
}