body {
    background: #004630;
}
.Barlow{
    font-family: 'Barlow', sans-serif;
}
#navbar-background{
    background: #006445;
    margin: -0.5em;
}
#navbar{
    display: flex;
    justify-content: left;
    width: 50%;
    margin-top: -0.5em;
}
.first-link{
    margin-left: 2em;
}
.link{
    margin-right: auto;
    align-self: center;
    text-decoration: none;
}
.link:after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 0.125em;
    bottom: 0;
    left: 0;
    background-color: #dbff4a;
    transform-origin: bottom left;
    transition: transform 0.25s ease-out;
}
.link:hover::after{
    transform: scaleX(1);
    transform-origin: bottom left;
}
.image-no-underline{
    text-decoration: none;
}
.tcrlogo{
    background: white;
    max-width: 8.0625em;
    max-height: 5.3125em;
}
#demo{
    text-align: center;
    font-size: 3.75em;
    margin-top: 2.8125em;
    margin-right: 17.1875em;
    font-family: 'Barlow', sans-serif;
    font-family: 'Fira Sans', sans-serif;
    font-family: 'Noto Sans NKo Unjoined', sans-serif;
    color: white;
}
a {
    display: inline-block;
    position: relative;
    color: white;
}

#welkom{
    color: white;
}
.img-richard{
    align-content: center;
    width: 50%;
    height: 30%;
}
#div-centered{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#h1-centered{
    align-self: center;
}
#vraag-box-bounds{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#vraag-box{
    display: flex;
    justify-content: center;
}
.tekst-vraag-box{
    display: flex;
    background-color: white;
    height: 23em;
    width: 25em;
    align-items: center;
    border: black;
}
p.tekst-vraag-box{
}
.tekst-vraag-userinput{
    background-color: white;
    height: 7.4546875em;
    width: 7.7671875em;
}
#user-input{
    display: flex;
    flex-direction: row;
}
.not-visible{
    display:none;
}
