
h1{
    font-family: 'Barlow', sans-serif;
font-family: 'Fira Sans', sans-serif;
font-family: 'Noto Sans NKo Unjoined', sans-serif;
margin-block-start: 100px;
color: white; 
font-size: 48px;
}

a:hover{
    color: #dbff4a;
}


.tekst{
    font-family: 'Barlow', sans-serif;
    font-family: 'Fira Sans', sans-serif;
    font-family: 'Noto Sans NKo Unjoined', sans-serif;
    color: white;
    margin-block-start: 10px;
font-size: 16px;
    align-self: center;
    width: 50%;
}

.tekst01{
    display: flex;
    font-family: 'Barlow', sans-serif;
    font-family: 'Fira Sans', sans-serif;
    font-family: 'Noto Sans NKo Unjoined', sans-serif;
    color: white;
    font-size: 16px;
    max-width: 50%;
    align-content: center;
}
ul{
    display: flex;
    position: sticky;
    justify-content: space-around;
    color:#dbff4a; 
}

#demo{
    text-align: center;
    font-size: 60px;
    margin-top: 45px;
    margin-right: 275px;
    font-family: 'Barlow', sans-serif;
    font-family: 'Fira Sans', sans-serif;
    font-family: 'Noto Sans NKo Unjoined', sans-serif;
    color: white;
}
